#username{
	position: absolute;
	text-align: center;
}

#input{
	background-color: #ccfeff;
	width: 400px;
	height: 600px;
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#username{
	width: 150px;
	position: relative;
	top: 200px;
	left: 125px;
}